/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
#top-h {
	height: 84px;
	background: rgba(255, 255, 255, 1);
}

#sticky-bottom {
   position:fixed;
   left:0px;
   bottom:0px;
   height:168px;
   width:100%;
   background:rgba(150, 150, 150, 0.5);
   text-align: left;
}

/* IE 6 */
* html #sticky-bottom {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

h1 {
	color:rgb(0, 113, 188);
}

.small-text {
	font-size: 13px;
}

.tiny-text {
	font-size: 10px;
}

.avatar-fix {
	margin-top: -12px;
	margin-left: 24px;
}

.tab {
	padding-left: 18px;
}

.toc-head-2 {
	margin-bottom: 6px;
}

td.two.columns {
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}

.dashed li {
	list-style: inside;
}

.summary li {
	margin-bottom: 0 !important;
}

table.r-experience td {
	padding-bottom: 18px;
}

td.three.columns {
	padding: 0px;
	margin: 0px;
}
.r-date {
	
}

.r-company {
	font-weight: bold;
}

.r-project {
	color:rgb(0, 113, 188);
}

.r-role {
	color:rgba(140,140,140,1);
	margin-bottom: 6px;
}

.r-description {
	margin-bottom: 6px;
}

.r-tasks span {
	font-weight: bold;
}

.r-tools span {
	font-weight: bold;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/